
       <!DOCTYPE html>
       <html lang="en">
       <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
       <script>
       $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
       });
       </script>
       </head>
       <body>
           <div class="container">
               <div class="table-responsive">
                   <div class="table-wrapper">
                     <p>Liste des utilisateurs</p>
                      
                       <table class="table table-striped table-hover table-bordered">
                           <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Nom <i class="fa fa-sort"></i></th>
                                   <th>Addresse</th>
                                   <th>Age <i class="fa fa-sort"></i></th>
                                   <th>Date obtention permis</th>
                                   <th>Actions</th>
                                  
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>1</td>
                                   <td>Souleye Diop</td>
                                   <td>Fissel Mbaadan</td>
                                   <td>32 ans</td>
                                   <td>12/2/2013</td>
                                   
                                   <td>
                                       <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                       <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                       <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                   </td>
                               </tr>
                               <tr>
                                   <td>2</td>
                                   <td>Pape Leye</td>
                                   <td>Dakar</td>
                                   <td>28 ans</td>
                                   <td>11/4/2015</td>
                                   <td>
                                    <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                               </tr>
                               <tr>
                                   <td>3</td>
                                   <td>Souleye Diop</td>
                                   <td>Thies</td>
                                   <td>30 ans</td>
                                   <td>3/11/2019</td>
                                   <td>
                                    <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                               </tr>
                               <tr>
                                   <td>4</td>
                                   <td>Fatima Camara</td>
                                   <td>Kaolack</td>
                                   <td>25 ans</td>
                                   <td>14/3/2016</td>
                                   <td>
                                    <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                               </tr>
                               <tr>
                                   <td>5</td>
                                   <td>Guorgui Dieng</td>
                                   <td>Mbour</td>
                                   <td>45 ans</td>
                                   <td>1/6/2005</td>
                                   <td>
                                    <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                               </tr>
                               <tr>
                                <td>6</td>
                                <td>Dame Fall</td>
                                <td>Touba</td>
                                <td>55 ans</td>
                                <td>11/7/2003</td>
                                <td>
                                  <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                  <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                  <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                              </td>
                            </tr>
                            <tr>
                              <td>7</td>
                              <td>Nogaye Diop</td>
                              <td>Bambey</td>
                              <td>23 ans</td>
                              <td>11/9/2020</td>
                              <td>
                                <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </td>
                          </tr>    
                          <tr>
                            <td>8</td>
                            <td>Ndeye Ndiaye</td>
                            <td>Thies</td>
                            <td>29 ans</td>
                            <td>12/6/2017</td>
                            <td>
                              <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                        </tr>       
                        <tr>
                          <td>9</td>
                          <td>Fallou Faye</td>
                          <td>Louga</td>
                          <td>26 ans</td>
                          <td>13/8/2019</td>
                          <td>
                            <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                      </tr>   
                      <tr>
                        <td>10</td>
                        <td>Mouhamed Seck</td>
                        <td>Dakar</td>
                        <td>45 ans</td>
                        <td>17/9/2006</td>
                        <td>
                          <a href="#" class="view" title="Afficher" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                          <a href="#" class="edit" title="Editer" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a href="#" class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      </td>
                    </tr>                                 
                           </tbody>
                       </table>
                       
                       

                   </div>
               </div>        
           </div>     
       </body>
       <br><br>
       <button class="btn btn-primary" routerLink="/assform">Nouvelle Offre Assurance</button>
       </html>
       
      